@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

html * {
  font-family: 'Exo 2', "Source Sans Pro", sans-serif;
  overflow: hidden;
}

body {
  background-color: rgb(34, 34, 48);
  color: rgb(255, 255, 255);
}