.panel-body {
  height: auto;
  margin-top: -8px;
  margin-left: 8px;
  margin-bottom: 16px;
  margin-right: 8px;
  font-size: 14px;
  color: rgb(180, 180, 202);
}

.panel-body p {
  margin: 0;
}

.panel-body h4 {
  color: white;
  margin-bottom: 3px;
}

.panel-body a {
  color: rgb(74, 177, 215);
  margin: 0;
}

.row,
.row-warning {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.row-warning {
  padding-top: 8px;
  margin-left: -4px;
}

.row-warning .icon{
  align-self: flex-start;
  width: 14px;
  padding-right: 8px;
}

.row .text{
  font-size:  14px;
  color: rgb(180, 180, 202);
  margin: 8px;
}

.row button{
  width: 17px;
  height: 17px;
  border-radius: 8.5em;
  border: none;
  transition: transform 100ms ease 0s;
}

.row .selected{
  border: 2px solid #FFFFFF;
}

.row button:hover{
  transform: scale(1.2);
}

.circle-picker{
  width: 175px !important;
  background-color: #4A4A68;
  padding: 8px 0 8px 8px;
  border-radius: 8px;
  overflow: clip;
  margin-bottom: 0 !important;
}

.circle-picker span div{
  margin-bottom: 0 !important;
}

.unrecognized-list {
  margin-top: 4px;
  color: white;
}

.unrecognized-list li{
  margin-top: 8px;
}

.warning-text {
  font-size: 13px;
  line-height: 1.2em;
}